html, body * {
    font-family: "Courier";
}

body {
    overflow: hidden;
    width: 100%;
}

.mdc-tab-wrapper {
    height: calc(100vh - 48px);
}

.mdc-tab-wrapper .mdc-tab__tab-contents {
    display: none;
}

.mdc-tab-wrapper .mdc-tab__tab-contents,
.mdc-tab-wrapper .mdc-tab__tab-contents iframe {
    height: 100%;
    position: relative;
    width: 100%;
}

.mdc-tab-wrapper .mdc-tab__tab-contents.fadeIn {
    display: block;
}

#game.black-background {
    background: #fff url('../images/background/background_black.png') repeat;
}

#game.blue-background {
    background: #fff url('../images/background/background_blue.png') repeat;
}

#game.dark-purple-background {
    background: #fff url('../images/background/background_darkPurple.png') repeat;
}

#game, #game.purple-background {
    background: #fff url('../images/background/background_purple.png') repeat;
}

#score {
    color: yellow;
    font-family: "Arial";
    font-size: 36px;
    padding: 20px;
    position: absolute;
    top: 0;
}

#score .points-added {
    color: yellow;
    font-family: "Courier";
    font-size: 24px;
    padding: 20px;
    position: absolute;
    top: 40px;
    left: 200px;
}

#lives {
    float: left;
    list-style: none;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    top: 50px;
}

#lives li {
    background: url('../images/assets/life.png') no-repeat;
    float: left;
    height: 27px;
    padding: 10px;
    width: 35px;
}

#hiscore {
    color: yellow;
    display: none;
    max-height: 300px;
    list-style: none;
    padding: 20px;
    position: absolute;
    overflow: auto;
    text-align: center;
    top: 30%;
    width: 100%;
}

#hiscore li {
    background-position-x: 550px;
    font-size: 24px;
    height: 27px;
    padding: 0 10px 24px 0;
}

#hiscore li:nth-child(1) {
    background: url('../images/assets/bolt_gold.png') no-repeat;
    background-position-x: 550px;
}

#hiscore li:nth-child(2) {
    background: url('../images/assets/bolt_silver.png') no-repeat;
    background-position-x: 550px;
}

#hiscore li:nth-child(3) {
    background: url('../images/assets/bolt_bronze.png') no-repeat;
    background-position-x: 550px;
}

#gameover {
    color: yellow;
    display: none;
    font-family: "Arial";
    font-size: 80px;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#gameover span.instructions {
    font-size: 36px;
}

#newlevel {
    color: yellow;
    display: none;
    font-family: "Arial";
    font-size: 80px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#log4js {
    color: yellow;
    font-family: "Arial";
    font-size: 24px;
    margin-top: -60px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 100%;
}

#logo {
    animation-delay: 2s;
    position: absolute;
    top: 20px;
    right: 100px;
}

#tab__game {
    position: relative;
}

#controlpanel {
    position: relative;
    top: -101px;
    width: 1380px;
}

#controlpanel > img {
    margin: 8px;
}

.left {
    float: left;
}

.right {
    float: right;
}