.mdc-tab {
    background-color: var(--mdc-theme-secondary);
}

.mdc-tab.mdc-tab--active {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

.mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--mdc-theme-on-primary);
}

.mdc-tab-indicator > .mdc-tab-indicator__content--underline {
    background-color: var(--mdc-theme-on-primary);
}
